.createWorkout-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.createWorkout-fields{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: black;
    padding: 15px;

}
.saveitButton {
    background-color:#fa0d0d;
    font-weight: 450;
    margin-right: 20px;
    width: 155px;
    font-size: 20px;
    /* padding: 20px; */
    /* margin-top: 20px; */
}

.createWorkout-inputs input {
    background-color: red;
    /* border: 20; */
    border-color: hsl(0, 100%, 50%);
    font-size: 20px;
    padding: 15px;
    /* justify-content: space-between; */
    /* color: #ffffff; */
    width: 20%;
    margin-left: 20px;
}

.createWorkout-inputs input::placeholder {
   color: rgb(0, 0, 0);
 
}