li {
    width: 100%;
}
.workout-item {
    background-color: red;
    display: flex;
    padding: 25px;
    margin-top: 10px;
    color:yellow;
    justify-content: space-between;

}
.workout-item__reps {
    color:yellow;
    /* padding-left: 20px;  */
}
.workout-item__date {
    color: yellow;
    /* padding-left: 0px;  */
}
.workout-item span {
    width: 33%;
    font-size: 28px;
    
}
.workout-item span:last-child {
    width: 10%;
    text-align: left;
}
.workout-item .cross {
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    color: greenyellow;
    /* padding-left: 100px; */
}